@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
.container{
     
  font-family: 'Dosis', sans-serif;
   
    background-position: center;
    width: 95%;
}


h1{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: rgb(248, 164, 53);
}

input,textarea{
    width: 95%;
    border: 2px solid #ffdf00;
    border-radius: 4px;
    margin: 8px 0;
}


input:focus , textarea:focus{
    box-shadow: 0 0 4px rgba(454, 233, 342, 0.5);
    border: 2px solid rgb(245, 144, 144);
}

.imagetextblock{
    display: table;
    font-size: 20px;
    text-align: left;
    margin:6px auto 6px;
    width:100%;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
    color: #691818;
    padding: 20px;
    }


    .textblock{
        vertical-align:middle;
        display:table-cell;
        text-align:justify;
        width:35%;
        font-family: 'Dosis', sans-serif;
        font-size: 25px;
      }

      .colwidth10-contact{
        background-image: url("/assets/new_30op_5blur.jpg");
      }
      
      .colwidth10-contact {
          width:10%;
        background-position: top;
        background-size: 100%;
        height: 100%;
        
      }
      .colwidth80-contact {
        background-image: url("/assets/new_30op_5blur.jpg");
      }
      .colwidth80, .colwidth80-contact {
          width:80%;
      }