/*-------------------------

	Simple reset

--------------------------*/
*{
	margin:10;
	padding:0;
}
/*-------------------------

	General Styles

--------------------------*/
body{
	font:15px/1.3  'Dosis', sans-serif;
	color: #5e5b64;
	text-align:center;
	padding-top: 20px;
	padding-bottom: 40px;
}
.container{
	width: 95%;
	margin: 0 auto; /* Center the DIV horizontally */
}
.contentbox{
	padding-top: 80px;
	padding-bottom: 0px;
  }
a, a:visited {
	outline:none;
	color:blue;
}
a:hover{
	text-decoration:none;
	color: #fff;
}

nav{
	overflow: hidden;
	margin: 0;
	padding: 0;
	display:inline-block;
	/*margin:6px auto 6px; */
	background-color:#668cff;
	/*box-shadow:0 #ccc; */
	border-radius:2px;
	width: 120%;
	height: 60px;
	background-color: red; /* For browsers that do not support gradients */
	background-image: linear-gradient(to bottom right, #FFA500,#ffd700);
	float:center;
}
nav a{
	display:inline-block;
	padding: 18px 30px;
	columns: #000 !important;
	font-weight:bold;
	font-size:20px;
	text-decoration:none !important;
	line-height:1;
	font-family:  'Dosis', sans-serif;
	text-transform: uppercase;
	background-color:transparent;
	-webkit-transition:background-color 0.25s;

	-moz-transition:background-color 0.25s;

	transition:background-color 0.25s;
}
nav a:first-child{
	border-radius:2px 0 0 2px;
}

nav a:last-child{
	border-radius:0 2px 2px 0;
}

.fixed-header, .fixed-footer{
	width: 100%;
	position: fixed;        
	/*background: #668cff;
	color: #668cff;*/

	background-color:  #FFA500; /* For browsers that do not support gradients */
	background-image: linear-gradient(to bottom left, #FFA500,#ffd700);
  
}
.fixed-header{
	top: 0;
	overflow: hidden;
	margin: 0;
	/*margin:6px auto 6px;*/
	float:center;
	
}
.fixed-footer{
	bottom: 0;
	color: #fff;
	background: #668cff;

	background-color: red; /* For browsers that do not support gradients */
	background-image: linear-gradient(to bottom right,#FFA500,#ffd700);
}    
.w3-button:hover{
	color: white;
}
.w3-col2{
	background-image: linear-gradient(to bottom left, #FFA500,#ffd700);
}
/* Footer  */
.foot2{
	float:right;
	margin: 10px;
	margin-left:10px;
	padding-right:5px;  
	font: 'Dosis', sans-serif;
}

.text{
	color: black;
}

