body {
	background: #fff;
	color: #2f3138;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

a {
	color: #810009 transition: 0.5s;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tab {
	padding-left: 1px;
}



.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: .5rem;
		margin-top: 15px;
    margin-bottom: 15px;
}
.card-deck .students{
	padding-left: 150px;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: .5rem;
}

.card-group {
	flex-flow: row wrap;
}

@media (min-width: 576px)
.card-group {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.team .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
		padding-top: 2px;
		padding: 0;
		text-align: center;
}
.team .card-body .p{
	margin-top: 5px;
	margin-bottom: 5px;
}

a:hover,
a:active,
a:focus {
	color: #f8234a;
	outline: none;
	text-decoration: none;
}
.main-page {
	margin-top: 70px;
	padding: 0;
}

.wow {
	visibility: hidden;
}
.announcement-item {
	width: 250px;
}

.scrollable {
	max-height:300px;
  overflow-y:auto;
}

.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
        display: block;

    }
    .dropdown-menu{
        margin-top: 0;
    }
    .dropdown-toggle{
        margin-bottom: 2px;
    }
    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
        margin-bottom: 0;
    }
}

/*--------------------------------------------------------------
# team-members Section
--------------------------------------------------------------*/

#team-members {
	padding: 60px 0 30px 0;
	font-size: 14px;
}

#team-members .member {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}

#team-members .member .details {
	background: rgba(0, 0, 0, 0.76);
	position: absolute;
	left: 0;
	bottom: -30px;
	right: 0;
	text-align: center;
	padding-top: 10px;
	transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#team-members .member .details h3 {
	color: #fff;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 5px;
}

#team-members .member .details p {
	color: #fff;
	font-size: 15px;
	margin-bottom: 10px;
	font-style: italic;
}

#team-members .member .details a {
	color: #fff;
	font-size: 14px;
}

#team-members .member .details a:hover {
	color: #007bff;
}

#team-members .member:hover .details {
	bottom: 0;
}

#team-members-details {
	padding: 60px 0;
}

#team-members-details .details h2 {
	color: #112363;
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 10px;
}

#team-members-details .details .social {
	margin-bottom: 15px;
}

#team-members-details .details .social a {
	background: #e9edfb;
	color: #112363;
	line-height: 1;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	padding-top: 9px;
}

#team-members-details .details .social a:hover {
	background: #2980b9;
	color: #fff;
}

#team-members-details .details .social a i {
	font-size: 18px;
}

#team-members-details .details p {
	color: #112363;
	font-size: 15px;
	margin-bottom: 10px;
}

/* Header Section
--------------------------------*/
.header {
	margin-bottom: 60px;
	position: relative;
	padding-bottom: 20px;
}
.header h2 {
	font-size: 36px;
	text-align: center;
	font-weight: 700;
	margin-bottom: 10px;
}
.header p {
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	color: #9195a2;
}

.background {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #F8F8F8;
}

@media (max-width: 992px) {
  .table-1 {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      width: auto;
  }
	.intro-line {
		padding:10px;
		text-align: justify;
	}
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

 #header {
	height: 90px;
	padding: 25px 0;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	transition: all 0.5s;
	z-index: 997;
}

#header.header-scrolled,
#header.header-fixed {
	background: black;
	height: 70px;
	padding: 15px 0;
	transition: all 0.5s;
}



#header #logo img {
	padding: 0;
	margin: 0;
	max-height: 40px;
}


#announcement {
	margin-right: 50px;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;

}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
  float: center;
  margin-left: 150px;
}

.dropdown-divider {
    height: 2px;
    margin: .5rem 2rem;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

/* Nav Meu Styling */

.nav-menu a {
  padding: 8px;
  display: inline-block;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 18px;
  outline: none;
}

.nav-menu .menu-active a,
.nav-menu a:hover {
  color: #2980b9;
}

.nav-menu > li {
  margin-left: 8px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
	border: 2px solid;
  background-color: #2980b9;
  visibility: hidden;
  transition: all 0 ease 0.2s;
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .menu-active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
  border-radius: 3px;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #060c22;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
  border-radius: 3px;
}

.nav-menu ul li:hover > a {
  background: #2980b9;
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 15px 15px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}


/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: black;
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 17px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #2980b9;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #2980b9;
}

#mobile-nav ul .menu-item-active {
  color: #2980b9;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;

/* Mobile Nav body classes */

body.mobile-nav-active {
	overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
	left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
	color: #fff;
}
  position: fixed;
  background: rgba(6, 12, 34, 0.8);
  display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}


/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
	width: 100%;
	height: 100vh;
	background: url(../img/intro-bg.jpg) top center;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

#intro:before {
	content: "";
	position: absolute;
	background: rgba(196, 180, 180, 0);
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

#intro .intro-container {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 90px;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	padding: 0 15px;
}

#intro-docs {
	width: 100%;
	height: 20vh;
	background: url(../img/processor-bg.jpg) top center;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	background-size: cover;
	overflow: hidden;
	position: relative;
}
#intro-docs-min {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	background: url(../img/processor-bg.jpg) top center;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	background-size: cover;
	overflow: hidden;
	position: relative;
}
.doc-heading {
	font-size: 4rem;
	font-weight: 700;
}

@media (max-width: 900px) {
	.doc-heading {
		font-size: 2.5rem;
	}
}
@media (max-width: 1400px) {
	.doc-heading {
		font-size: 3rem;
	}
}

.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
  border: 0;
}
#intro-docs:before {
	content: "";
	position: absolute;
	background: rgba(196, 180, 180, 0);
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

#intro-docs .intro-container {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 10px;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	padding: 0 15px;
}

#shakti-font-2 {
	font-family: 'Dosis', sans-serif;
	color: #810009;
	font-size: 5rem;
	font-weight: 700;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

#shakti-font {
	color: black;
	font-family: 'Girassol', cursive;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#shakti-p {
	color: white;
	text-shadow: -0.1px 0 black, 0 0.1px black, 0.1px 0 black, 0 -0.1px black;
}

/*--------------------------------------------------------------
# Home Sub 1 Section
--------------------------------------------------------------*/

#home-sub-1 {
	background: url("../img/processor-bg.jpg");
	background-size: cover;
	overflow: hidden;
	position: relative;
	color: black;
	padding: 60px 0 40px 0;
}

#home-sub-1:before {
	content: "";
	background: rgba(13, 20, 41, 0.5);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

.shakti-team .pic{
    border-top: 5px solid #2980b9;
    border-bottom: 5px solid #2980b9;
    border-radius: 50% 50% 50% 0;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
.shakti-team:hover .pic{
    border-top-color: #772019;
    border-bottom-color: #772019;
    border-radius: 50% 0;
}
.shakti-team .pic img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease 0s;
}
.shakti-team .team-content{ padding: 20px 0; }
.shakti-team .title{
    font-size: 22px;
    font-weight: 700;
    color: #8f2d56;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}
.shakti-team .post{
    display: block;
    font-size: 17px;
    color: #878484;
    text-transform: capitalize;
    margin-bottom: 10px;
}

@media only screen and (max-width: 990px){
    .shakti-team{ margin-bottom: 30px; }
}


.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}

#home-sub-2 {
	margin-top: 100px;
	margin-bottom: 100px;
}


/*--------------------------------------------------------------
# sponsors Section
--------------------------------------------------------------*/

#sponsors {
	padding: 60px 0;
}

#sponsors .box {
	margin-bottom: 30px;
}

#sponsors .sponsor-logo {
	padding: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 0;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.5);
	height: 160px;
}
#sponsors .sponsor-logo-2 {
	padding: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 0;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.5);
	height: 200px;
}



.jumbotron {
	padding: 2rem 10rem;
	background-color: rgba(196, 180, 180, 0);
	border-radius: .3rem;
}

#home-sub-1 {
	color: #2980b9;
}

#shakti-font {
	color: white;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
	background: #2980b9;
	padding: 0 0 25px 0;
	color: #eee;
	font-size: 14px;
}

#footer .footer-top {
	background: black;
	padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
	margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
	font-size: 26px;
	margin: 0 0 20px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #fff;
}

#footer .footer-top .footer-info img {
	height: 40px;
	margin-bottom: 10px;
}

#footer .footer-top .footer-info p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

#footer .footer-top .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #222636;
	color: #eee;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
	background: #810009 color: #fff;
}

#footer .footer-top h4 {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 12px;
	border-bottom: 2px solid #810009;
}

#footer .footer-top .footer-links {
	margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul i {
	padding-right: 5px;
	color: #810009;
	font-size: 18px;
}

	/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
	#contact {
		padding: 60px 0;
	}
	#contact .contact-info {
		margin-bottom: 20px;
		text-align: center;
	}
	#contact .contact-info i {
		font-size: 48px;
		display: inline-block;
		margin-bottom: 10px;
		color: #2980b9;
	}
	#contact .contact-info address,
	#contact .contact-info p {
		margin-bottom: 0;
		color: #112363;
	}
	#contact .contact-info h3 {
		font-size: 18px;
		margin-bottom: 15px;
		font-weight: bold;
		text-transform: uppercase;
		color: #112363;
	}
	#contact .contact-info a {
		color: #4869df;
	}
	#contact .contact-info a:hover {
		color: #2980b9;
	}
	#contact .contact-address,
	#contact .contact-phone,
	#contact .contact-email {
		margin-bottom: 20px;
	}
	#contact .form #sendmessage {
		color: #2980b9;
		border: 1px solid #2980b9;
		display: none;
		text-align: center;
		padding: 15px;
		font-weight: 600;
		margin-bottom: 15px;
	}
	#contact .form #errormessage {
		color: red;
		display: none;
		border: 1px solid red;
		text-align: center;
		padding: 15px;
		font-weight: 600;
		margin-bottom: 15px;
	}
	#contact .form #sendmessage.show,
	#contact .form #errormessage.show,
	#contact .form .show {
		display: block;
	}
	#contact .form .validation {
		color: red;
		display: none;
		margin: 0 0 20px;
		font-weight: 400;
		font-size: 13px;
	}
	#contact .form input,
	#contact .form textarea {
		padding: 10px 14px;
		border-radius: 0;
		box-shadow: none;
		font-size: 15px;
	}
	#contact .form button[type="submit"] {
		background: #2980b9;
		border: 0;
		padding: 10px 40px;
		color: #fff;
		transition: 0.4s;
		border-radius: 50px;
		cursor: pointer;
	}
	#contact .form button[type="submit"]:hover {
		background: #e0072f;
	}

	#footer .footer-top h4 {
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		position: relative;
		padding-bottom: 12px;
		border-bottom: 2px solid #810009
	}
	#footer .footer-top .footer-links {
		margin-bottom: 30px;
	}
	#footer .footer-top .footer-links ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	#footer .footer-top .footer-links ul i {
		padding-right: 5px;
		color: #810009 font-size: 18px;
	}
	#footer .footer-top .footer-links ul li {
		border-bottom: 1px solid #262c44;
		padding: 10px 0;
	}
	#footer .footer-top .footer-links ul li:first-child {
		padding-top: 0;
	}
	#footer .footer-top .footer-links ul a {
		color: #eee;
	}
	#footer .footer-top .footer-links ul a:hover {
		color: #810009
	}
	#footer .footer-top .footer-contact {
		margin-bottom: 30px;
	}
	#footer .footer-top .footer-contact p {
		line-height: 26px;
	}
	#footer .footer-top .footer-newsletter {
		margin-bottom: 30px;
	}
	#footer .footer-top .footer-newsletter input[type="email"] {
		border: 0;
		padding: 6px 8px;
		width: 65%;
	}
	#footer .footer-top .footer-newsletter input[type="submit"] {
		background: #810009 border: 0;
		width: 35%;
		padding: 6px 0;
		text-align: center;
		color: #fff;
		transition: 0.3s;
		cursor: pointer;
	}
	#footer .footer-top .footer-newsletter input[type="submit"]:hover {
		background: #e0072f;
	}
	#footer .copyright {
		text-align: center;
		padding-top: 30px;
	}
	#footer .credits {
		text-align: center;
		font-size: 13px;
		color: #ddd;
	}
}

#footer .footer-top .footer-links ul li {
	border-bottom: 1px solid #262c44;
	padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
}

#footer .footer-top .footer-links ul a {
	color: white;
	;
}

#footer .footer-top .footer-links ul a:hover {
	color: #007bff;
}

#footer .footer-top .footer-contact {
	margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
	line-height: 26px;
}

#footer .footer-top .footer-newsletter {
	margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
	border: 0;
	padding: 6px 8px;
	width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
	background: #810009 border: 0;
	width: 35%;
	padding: 6px 0;
	text-align: center;
	color: #fff;
	transition: 0.3s;
	cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
	background: #e0072f;
}

#footer .copyright {
	text-align: center;
	padding-top: 30px;
}

#footer .credits {
	text-align: center;
	font-size: 13px;
	color: #ddd;
}


/* Back to top button */

.back-to-top {
	position: fixed;
	display: none;
	background: black;
	;
	color: #fff;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 50px;
	right: 15px;
	bottom: 15px;
	transition: background 0.5s ease-in-out;
}

.back-to-top i {
	font-size: 24px;
	padding-top: 6px;
}

.back-to-top:focus {
	background: white;
	color: black;
	outline: none;
}

.back-to-top:hover {
	background: white;
	color: black;
}


/* --- align --- */

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.text-bold {
	font-weight: 900;
}


/* --- margin ---*/

.mar-bot20 {
	margin-bottom: 20px;
}

.mar-bot40 {
	margin-bottom: 40px;
}


/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 767px) {
	#subscribe input {
		min-width: 400px;
	}
}

@media (min-width: 768px) {
	#contact .contact-address,
	#contact .contact-phone,
	#contact .contact-email {
		padding: 20px 0;
	}
	#contact .contact-phone {
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
	}
}

@media (min-width: 991px) {
	#schedule .sub-heading {
		width: 75%;
	}
}

@media (min-width: 1024px) {
	#intro {
		background-attachment: fixed;
	}
	#about {
		background-attachment: fixed;
	}
	#subscribe {
		background-attachment: fixed;
	}
}

@media (max-width: 1199px) {
	#header .container {
		max-width: 100%;
	}
	.nav-menu a {
		padding: 8px 4px;
	}
}

@media (max-width: 991px) {
	#header {
		background: rgba(0, 0, 0, 0.98);
		height: 70px;
		padding: 15px 0;
		transition: all 0.5s;
	}
	#nav-menu-container {
		display: none;

	}
	#mobile-nav-toggle {
		display: inline;
	}
	#intro .intro-container {
		top: 70px;
	}
	#intro h1 {
		font-size: 34px;
	}
	#intro p {
		font-size: 16px;
	}
	#schedule .nav-tabs a {
		padding: 8px 60px;
	}
}

@media (max-width: 768px) {
	.back-to-top {
		bottom: 15px;
	}
	#faq #faq-list a {
		font-size: 18px;
	}
	#faq #faq-list i {
		top: 13px;
	}
}

@media (max-width: 767px) {
	#schedule .nav-tabs a {
		padding: 8px 50px;
	}
	#shakti-font {
		visibility: hidden;
		display:none;
	}
	#shakti-font-2 {
		font-size: 40px;
	}
	#iitmlogo {
		height: 300px;
		width: 300px;
	}
	#getting-started {
	  font-size: 15px !important;
	  padding: 10px 20px !important;
	}
	#processors-heading {
		font-size: 1rem;
	}
	#intro-docs {
		height: 25vh;
	}
	h1.doc-heading {
		font-size: 2rem!important;
}
}

#back-to-nml {
	max-width: 18rem;
}
#back-to-nml-1 {
	max-width: 12rem;
}

@media (max-width: 767px) {
	#back-to-nml {
		max-width: 100%;
	}
	#back-to-nml-1 {
		max-width: 100%;
	}
}

/* Get Started Section
--------------------------------*/

#p-block {
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
	height: 100%;
	width: 100%;
}

#p-block .feature-block {
	background: #fff none repeat scroll 0 0;
	padding: 30px 20px;
	transition: all 0.5s ease-in-out 0s;
}

@media (max-width: 991px) {
	#p-block .feature-block {
		margin-bottom: 30px;
	}
}

#p-block .feature-block:hover {
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease-in-out 0s;
}

#p-block .feature-block h4 {
	margin-bottom: 20px;
}

#p-block .feature-block p {
	margin-bottom: 20px;
}

#gallery .owl-item {
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	transition: 0.3s;
}

#p-block .feature-block a:hover {
	color: red;
	;
}


/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/

#gallery {
	padding: 60px;
	overflow: hidden;
}

#gallery .owl-nav,
#gallery .owl-dots {
	margin-top: 25px;
	text-align: center;
}

#gallery .owl-item {
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
}

#gallery .owl-dot {
	display: inline-block;
	margin: 0 5px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #ddd;
}

#gallery .owl-dot.active {
	background-color: #2980b9;
}

#gallery .gallery-carousel .owl-stage-outer {
	overflow: visible;
}

#gallery .gallery-carousel .center {
	border: 6px solid #2980b9;
	margin: -10px;
	box-sizing: content-box;
	padding: 4px;
	background: #fff;
	z-index: 1;
}

@media (max-width: 574px) {
	#venue .venue-info h3 {
		font-size: 24px;
	}
	.container-sdk {
	  max-width: 90%; /* 2 */
	}
}

@media (max-width: 480px) {
	#schedule .nav-tabs a {
		padding: 8px 30px;
	}
	.container-sdk {
	  max-width: 90%; /* 2 */
	}
}

@media (max-width: 900px) {
	#subscribe button {
		margin-top: 10px;
	}
	.container-sdk {
	  max-width: 90% !important; /* 2 */
	}

	}
	#button-rightcornor {
		font-size: 15px;
		transition:color .3s ease-in-out;
	}
	#fixed-button {
		color: white;
	  position: fixed;
		/* padding: 10px; */
	  bottom: -4px;
	  right: 10px;
	}


}

padd-section {
	padding-bottom: 80px;
	padding-top: 80px;
}

@media (max-width: 992px) {
	.padd-section {
		padding-top: 40px;
		padding-bottom: 40px;
	}

}
.container-sdk {
	margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 70%; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}
.section-title {
	margin-top: 20px;
	margin-bottom: 30px;
}

@media (max-width: 992px) {
	.section-title {
		margin-bottom: 40px;
	}

}

.section-title h2 {
	font-family: "Roboto", sans-serif;
	font-size: 45px;
	font-weight: 100;
	letter-spacing: 2px;
	margin-bottom: 20px;
	text-transform: capitalize;
}

.section-title .separator {
	margin: 0;
}

.separator {
	color: #626262;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 30px;
	text-transform: capitalize;
}

a:not([href]):not([tabindex]) {
	color: white;
}

#getting-started {
	color: white;
	/* background-color: #004A7F; */
  -webkit-border-radius: 50px;
  border-radius: 50px;
  /* border: none;
  cursor: pointer;
  display: inline-block;
  font-family: Arial; */
  font-size: 25px;
  padding: 20px 40px;
  text-align: center;
  /* text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
} */

#fixed-button {
	color: white;
  position: fixed;
	/* padding: 10px; */
  bottom: -4px;
  right: 10px;
}

.spl-btn a {
  color: #fff;
  background: #772019;
  padding: 7px 22px;
  border-radius: 50px;
  border: 2px solid white;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 2px;
  line-height: 1;
  font-size: 20px;
}

.spl-btn a:hover {
  background: #2980b9;
}

.spl-btn:hover a:before,
.spl-btn.menu-active a:before {
  visibility: hidden;
}
